*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none
}

.image{
  height: 200px;
  width: 200px;
}
.crd{
  display: flex;
  padding: 20px;
}
.home-page-query{
  display: flex;
  justify-content: space-around;
}
.home-page-image{
  width: 50%;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;


}


@media (max-width: 768px) {
.crd{
  display: list-item;
  
}
.home-page-query{
  display: list-item;
}
.home-page-image{
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;


}
}
